/* 全局样式 */
page {
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* 重置 button 默认样式 */
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  line-height: 1;

  &::after {
    border: none;
  }
}

/* 通用类 */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.mt-20 {
  margin-top: 20rpx;
}

.mb-20 {
  margin-bottom: 20rpx;
}

.ml-20 {
  margin-left: 20rpx;
}

.mr-20 {
  margin-right: 20rpx;
}

.pt-20 {
  padding-top: 20rpx;
}

.pb-20 {
  padding-bottom: 20rpx;
}

.pl-20 {
  padding-left: 20rpx;
}

.pr-20 {
  padding-right: 20rpx;
}

/* Toast 样式重写 */
.taro-toast {
  .toast-content {
    font-size: 28rpx !important;
    line-height: 1.5 !important;
    padding: 24rpx 32rpx !important;
    border-radius: 12rpx !important;
  }
}